configs:
  public_interface: "{{ ccp_public_interface }}"
  private_interface: "{{ ccp_private_interface }}"
  neutron_external_interface: "{{ ccp_neutron_external_interface }}"
  neutron_logging_debug: "{{ ccp_neutron_logging_debug }}"
  neutron_plugin_agent: "{{ ccp_neutron_plugin_agent }}"
  calico_etcd_host: "{{ ccp_calico_etcd_host }}"
  calico_etcd_port: "{{ ccp_calico_etcd_port }}"

nodes:
{% for node in ccp_nodes %}
  {{ node.name }}:
    roles:
{% for item in ccp_roles[node.role][ccp_neutron_plugin_agent] %}
      - {{ item }}
{% endfor %}
{% endfor %}

roles:
  controller:
    - etcd
    - glance-api
    - glance-registry
    - horizon
    - keystone
    - mariadb
    - memcached
    - neutron-server
    - nova-api
    - nova-conductor
    - nova-consoleauth
    - nova-novncproxy
    - nova-scheduler
    - rabbitmq
  neutron-agents:
{% for item in neutron_agents[ccp_neutron_plugin_agent] %}
    - {{ item }}
{% endfor %}
  compute:
    - nova-compute
    - nova-libvirt
{% if ccp_neutron_plugin_agent == 'calico' %}
  calico:
{% for item in calico_services %}
    - {{ item }}
{% endfor %}
{% else %}
  openvswitch:
    - neutron-openvswitch-agent
    - openvswitch-db
    - openvswitch-vswitchd
{% endif %}
  lma-controller:
    - elasticsearch
    - influxdb
    - kibana
  lma:
    - heka
