configs:
  public_interface: "{{ ccp_public_interface }}"
  private_interface: "{{ ccp_private_interface }}"
  neutron_external_interface: "{{ ccp_neutron_external_interface }}"
  neutron_logging_debug: "{{ ccp_neutron_logging_debug }}"
  neutron_plugin_agent: "{{ ccp_neutron_plugin_agent }}"

nodes:
  node1:
    roles:
{% for item in controller_node[ccp_neutron_plugin_agent] %}
      - {{ item }}
{% endfor %}
  node[2-3]:
    roles:
{% for item in compute_node[ccp_neutron_plugin_agent] %}
      - {{ item }}
{% endfor %}

roles:
  controller:
    - etcd
    - glance-api
    - glance-registry
    - horizon
    - keystone
    - mariadb
    - memcached
    - neutron-server
    - nova-api
    - nova-conductor
    - nova-consoleauth
    - nova-novncproxy
    - nova-scheduler
    - rabbitmq
  neutron-agents:
{% for item in neutron_agents %}
      - {{ item }}
{% endfor %}
  compute:
    - nova-compute
    - nova-libvirt
  calico:
    - calico-dhcp-agent
    - calico-felix
  openvswitch:
    - neutron-openvswitch-agent
    - openvswitch-db
    - openvswitch-vswitchd
  lma-controller:
    - elasticsearch
    - influxdb
    - kibana
  lma:
    - heka
